<a href="https://colab.research.google.com/github/ecoses042/programming/blob/main/lab4_20211530_Minsoo_Song.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
%%writefile example1.c
#include <stdio.h>
int main()
{
    int x;
    int y;
    int result;
    printf("Enter 2 ints: ");
    scanf("%d %d", &x, &y);
    result = x + y;
 
    printf("%d + %d = %d\n", x, y, result);
    result = x - y; 
 
    printf("%d - %d = %d\n", x, y, result);
    result = x * y;
 
    printf("%d + %d = %d\n", x, y, result);
    result = x / y; 
 
    printf("%d / %d = %d\n", x, y, result);
    result = x % y; 
 
    printf("%d %% %d = %d\n", x, y, result);
 
    return 0;
}

Overwriting example1.c

In [14]:
ls

example1.c  example2.c  example3.c  out*  sample_data/

In [15]:
%%shell
gcc example1.c -o out
./out

Enter 2 ints: 11 2
11 + 2 = 13
11 - 2 = 9
11 + 2 = 22
11 / 2 = 5
11 % 2 = 1

In [23]:
%%writefile example2.c
#include <stdio.h>
#define SEC_PER_MINUTE 60 

int main(void)
{ 
    int input, minute, second; 
    printf("Enter time in seconds: "); 
    scanf("%d", &input); 
 
    minute = input / SEC_PER_MINUTE;
    second = input % SEC_PER_MINUTE; 
 
    printf("%d초는 %d분 %d초입니다. \n",input, minute, second); 
 
    return 0;
}

Overwriting example2.c

In [24]:
ls

example1.c  example2.c  example3.c  out*  sample_data/

In [25]:
%%shell
gcc example2.c -o out
./out

Enter time in seconds: 1234
1234초는 20분 34초입니다.

In [26]:
%%writefile example3.c
#include <stdio.h>
int main(void)
{
    int x;
    int y;
 
    x = 1;
    y = ++x;
    printf("x=%d y=%d \n", x, y);
 
    y = x++;
    printf("x=%d y=%d \n", x, y);
 
    return 0;
}

Overwriting example3.c

In [27]:
ls

example1.c  example2.c  example3.c  out*  sample_data/

In [28]:
%%shell
gcc example3.c -o out
./out

x=2 y=2
x=3 y=2

In [32]:
%%writefile example4.c
#include <stdio.h>
int main(void)
{ 
    int x, y;
    printf("두개의 정수를 입력하시오: ");
    scanf("%d%d", &x, &y);
 
    printf("x == y의 결과값: %d\n", x == y);
 
    printf("x != y의 결과값: %d\n", x != y);
 
    printf("x > y의 결과값: %d\n", x > y);
 
    printf("x < y의 결과값: %d\n", x < y);
 
    printf("x >= y의 결과값: %d\n", x >= y);
 
    printf("x <= y의 결과값: %d\n", x <= y);
 
    return 0;
}

Overwriting example4.c

In [33]:
ls

example1.c  example2.c  example3.c  example4.c  out*  sample_data/

In [34]:
%%shell
gcc example4.c -o out
./out

두개의 정수를 입력하시오: 22 22
x == y의 결과값: 1
x != y의 결과값: 0
x > y의 결과값: 0
x < y의 결과값: 0
x >= y의 결과값: 1
x <= y의 결과값: 1

In [35]:
%%writefile example5.c
#include <stdio.h>
int main(void)
{
    int x = 9;  
    int y = 10; 
 
    printf("%08X & %08X = %08X\n", x, y, x & y); 
 
    printf("%08X | %08X = %08X\n", x, y, x | y);
 
    printf("%08X ^ %08X = %08X\n", x, y, x ^ y); 
 
    printf("~ %08X = %08X\n", x, ~x); 
 
 
    return 0;
}

Writing example5.c

In [36]:
ls

example1.c  example2.c  example3.c  example4.c  example5.c  out*  sample_data/

In [37]:
%%shell
gcc example5.c -o out
./out

00000009 & 0000000A = 00000008
00000009 | 0000000A = 0000000B
00000009 ^ 0000000A = 00000003
~ 00000009 = FFFFFFF6

In [38]:
%%writefile example6.c
#include <stdio.h>
int main(void)
{
    int x = 9; 
    printf("%d << 1 = %d\n", x, x << 1); 
    printf("%d >> 1 = %d\n", x, x >> 1); 
 
    return 0;
}

Writing example6.c

In [39]:
ls

example1.c  example3.c  example5.c  out*
example2.c  example4.c  example6.c  sample_data/

In [40]:
%%shell
gcc example6.c -o out
./out

9 << 1 = 18
9 >> 1 = 4

In [41]:
%%writefile example7.c
#include <stdio.h>
int main(void)
{
    int status = 0x6f; 
    printf("문열림 상태=%d \n", (status & 0x01));
 
    return 0;
}

Writing example7.c

In [42]:
ls

example1.c  example3.c  example5.c  example7.c  sample_data/
example2.c  example4.c  example6.c  out*

In [43]:
%%shell
gcc example7.c -o out
./out

문열림 상태=1

In [44]:
%%writefile example8.c
#include <stdio.h>
int main(void) 
{
    int a = 10;
    int b = 20;
    int c = 30;
    int d = 3;
    int result;
 
    result = a + b * c / d;
 
    printf("연산값: %d\n", result);
    result = (a + b) * c / d;
 
    printf("연산값: %d\n", result);
    result = a = b = 1;
 
    printf("연산값: %d\n", result);
 
    return 0;
}

Writing example8.c

In [45]:
ls

example1.c  example3.c  example5.c  example7.c  out*
example2.c  example4.c  example6.c  example8.c  sample_data/

In [46]:
%%shell
gcc example8.c -o out
./out

연산값: 210
연산값: 300
연산값: 1

In [47]:
%%writefile example9.c
#include <stdio.h>
int main(void) 
{
    int i;
    double f;
    f = 5 / 4;
 
    printf("(5 / 4) = %lf\n", f);
    f = (double)5 / 4;
 
    printf("(double)5 / 4 = %lf\n", f);
    i = 1.3 + 1.8;
 
    printf("1.3 + 1.8 = %d\n", i);
    i = (int)1.3 + (int)1.8;
 
    printf("(int)1.3 + (int)1.8 = %d\n", i);
 
    return 0;
}

Writing example9.c

In [48]:
ls

example1.c  example3.c  example5.c  example7.c  example9.c  sample_data/
example2.c  example4.c  example6.c  example8.c  out*

In [49]:
%%shell
gcc example9.c -o out
./out

(5 / 4) = 1.000000
(double)5 / 4 = 1.250000
1.3 + 1.8 = 3
(int)1.3 + (int)1.8 = 2